/*  Servicios */
@media only screen and (max-width: 750px) {
.oculto-responsive {
	display: none !important;
 }
}
@media only screen and (min-width: 750px) {
.oculto-compu {
	display: none !important;
 }
}

.nosotros{
  border-radius: 5px 5px 5px 5px !important;
  box-shadow: 0 10px 20px  #777  !important;
  box-sizing: content-box !important;
}
.service{
  box-shadow: 0 10px 20px #777 !important;
  box-sizing: content-box !important;
}
.espace-service{
  margin-bottom: 5vh;
}
.espace-service-1{
  padding: 6vh 3vh 0 3vh;
}
hr {
  width: 100px;
  height: 2px;
  background-color: #e0a801;
  margin: 20px auto;
  border: 0;
}

.main-top .main-content {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  display: table;
}
/*  intento 4*/
#about .hovereffect4 {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

#about .hovereffect4 .overlay4 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#about .hovereffect4:hover .overlay4 {
  background-color: rgba(170,170,170,0.4);
}

#about .hovereffect4 h2, .hovereffect4 img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#about .hovereffect4 img {
  width: 101%;
  display: block;
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#about .hovereffect4:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#about .hovereffect4 h2 {
  color: #FFF;
  text-align: right;
  padding: 10px 20px 10px 10px;
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.9);
  bottom:0px;
  position: absolute;
  width: 100%;
  color: white;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

#about .hovereffect4 p.info4 {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  font-weight: lighter;
  height: 100%;
  width: 100%;
  top: 100%;
  left: 8%;
  padding: 10% 5% 0 5%;
  text-align:center;
}

#about .hovereffect4 hr {
  float: right;
  margin: 5px 0 0 0;
  width: 15%;
  height: 2px;
  border: 0;
  background-color: #e0a801;

}

#about .hovereffect4:hover p.info4 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  /* -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; */
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

  background-color: rgba(0,0,0,0.6);
}
#about .hovereffect4:hover h2 {
  opacity: 0;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
/*  form contact*/
textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #777;
  padding: 14px;
  min-height: 50px;
  margin: 50px 0 20px 0;
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
  -o-transition: all 0.3s ease-in-out 0.1s;
  -ms-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}
.btn-primary {
  background-color: transparent;
  color: #e0a801;
  border: 2px solid #e0a801;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #e0a801;
  color: #FFF;
  border: 2px solid #e0a801;
}
